# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [4]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

[4, 5, 6]

In [5]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a = [1, 2, 3, 4, 5, 6]
print(a[3:])

[4, 5, 6]

In [6]:
# create a list of numbers from 1 to 20
new_list = (list(range(21)))
new_list.remove(0)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
nums = (list(range(101)))
nums.remove(0)
for num in nums:
    if num % 2 == 1:
        nums.remove(num)

print(nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [11]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(first, second):
    divided = first / second
    return divided

In [15]:
# write a function that takes a string as input
# and return that string in all caps
def all_caps(word):
    answer = word.upper()
    return answer

In [14]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
nums = list(range(31))
nums.remove(0)
for num in nums:
    if(num % 3 == 0 & num % 5 == 0):
        print("fizzbuzz")
    elif(num % 3 == 0):
        print("fizz")
    elif(num % 5 == 0):
        print("buzz")
    else:
        print(num)

1
2
fizzbuzz
4
buzz
fizzbuzz
7
8
fizzbuzz
buzz
11
fizzbuzz
13
14
fizzbuzz
16
17
fizzbuzz
19
buzz
fizzbuzz
22
23
fizzbuzz
buzz
26
fizzbuzz
28
29
fizzbuzz

In [16]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmo_pricing = {"Gyro": 9.00, "Burger":9.00, "Greek Salad":8.00, "Philly Steak":10.00}

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row.

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?